[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-airline"]
	path = vim-airline
	url = http://github.com/bling/vim-airline
[submodule "vim-twig"]
	path = vim-twig
	url = http://github.com/evidens/vim-twig
[submodule "fonts"]
	path = fonts
	url = http://github.com/powerline/fonts
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = http://github.com/ctrlpvim/ctrlp.vim
[submodule "Conque-GDB"]
	path = Conque-GDB
	url = http://github.com/vim-scripts/Conque-GDB
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
