[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-airline"]
	path = vim-airline
	url = http://github.com/bling/vim-airline
[submodule "CamelCaseMotion"]
	path = CamelCaseMotion
	url = http://github.com/bkad/CamelCaseMotion
[submodule "argtextobj.vim"]
	path = argtextobj.vim
	url = http://github.com/vim-scripts/argtextobj.vim
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = http://github.com/ctrlpvim/ctrlp.vim
