[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-airline"]
	path = vim-airline
	url = http://github.com/bling/vim-airline
[submodule "CamelCaseMotion"]
	path = CamelCaseMotion
	url = http://github.com/bkad/CamelCaseMotion
[submodule "argtextobj.vim"]
	path = argtextobj.vim
	url = http://github.com/vim-scripts/argtextobj.vim
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = http://github.com/ctrlpvim/ctrlp.vim
[submodule "vim-endwise"]
	path = vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = http://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-snipmate"]
	path = vim-snipmate
	url = http://github.com/garbas/vim-snipmate.git
[submodule "vim-snippets"]
	path = vim-snippets
	url = http://github.com/honza/vim-snippets.git
