vim/.netrwhist

vim/autoload/pathogen.vim
vim/autoload/vim-airline
vim/autoload/camelcasemotion.vim
vim/plugin/camelcasemotion.vim
vim/doc/camelcasemotion.vim
vim/bundle/vim-airline
vim/bundle/ctrlp.vim
vim/bundle/Conque-GDB
vim/bundle/simple_bookmarks.vim
vim/bundle/typescript-vim
vim/bundle/vim-autopep8
